#headertext: This is my header text
#secondlineheader: This is the second line of the header for doing other stuff
#primarybuttontext: A button
#primarybuttonlink: link
#secondarybuttontext: A second button
#secondarybuttonlink: link2
#facebook: favebookuser
#twitter: twitteruser
#pinterest: pinterestuser
#phone: phonenumer
#email: emailadress
#adress: adress
#adress1: adress1
#adress2: adress2
#footertext: All rights unreserved by yourname
